:root {
    /* Основные цвета */
    --primary-dark: #000000;
    --primary-dark-blue: #000069;
    --primary-blue: #002690;
    --primary-blue-hover: #0036ca;
    --accent-blue: #3498db;
    --accent-blue-hover: #2980b9;

    /* Текст */
    --text-dark: #2c3e50;
    --text-gray: #555;
    --text-light: #ffffff;

    /* Фоны */
    --bg-light: #f8f9fa;
    --bg-white: #ffffff;

    /* Границы */
    --border-gray: #ddd;
}